.banner {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  height: 35px;
  margin-left: -5rem;
  margin-right: -5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.98rem;
  .banner-text {
    font-weight: 600;
  }
}

// Responsive Styling
@media (max-width: 600px) {
  .banner {
    p {
      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8) {
        display: none;
      }
    }
  }
}

@media (max-width: 400px) {
  .banner {
    p {
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8) {
        display: none;
      }
    }
  }
}
