footer {
  grid-area: footer;

  a {
    &:hover {
      color: #a22c29;
    }
  }
  .footer-top {
    display: flex;
    justify-content: space-around;
    border: 1px solid #000;
    padding: 2rem;

    .logo {
      font-size: 6rem;
      letter-spacing: 0.5rem;
      margin: auto 0rem;
    }

    ul {
      li {
        margin-bottom: 0.8rem;
      }
    }

    .shopping-category {
      margin-bottom: 5rem;
    }
  }

  .footer-bottom {
    text-align: center;
    font-size: 0.8rem;
    a {
      color: #a22c29;
    }
  }
}

// Responsive Styling
@media (max-width: 550px) {
  .footer-top {
    flex-direction: column;
  }
}
