main {
  grid-area: main;
}

.content {
  .hero {
    height: 30%;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .women,
  .men {
    display: flex;
    justify-content: space-between;
    height: 30%;
    .women-text,
    .men-text {
      width: 40%;
      margin: auto;
      line-height: 1.5;

      button {
        border: 1px solid #a22c29;
        background-color: inherit;
        padding: 0.9rem 2rem;
        font-size: 0.9rem;
        cursor: pointer;
        &:hover {
          background-color: #a22c29;
          color: #fafafa;
          border: 1px solid #222;
          transition: 0.3s ease-out;
        }
      }
    }
    .women-image,
    .men-image {
      width: 50%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

// Responsive Styling
@media (max-width: 550px) {
  .content {
    .men,
    .women {
      flex-direction: column;
      margin-bottom: 2rem;
      .women-text,
      .men-text {
        width: 100%;
        order: 1;
      }

      .women-image,
      .men-image {
        width: 70%;
        height: 60%;
        display: block;
        margin: 0rem auto;
      }
    }
  }
}

@media (max-width: 400px) {
  .content {
    .hero {
      height: 18%;
    }
    .men,
    .women {
      flex-direction: column;
      margin-bottom: 5.5rem;

      .women-image,
      .men-image {
        width: 90%;
      }
    }
  }
}
