main {
  grid-area: main;
}

.content {
  .hero {
    height: 30%;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .women,
  .men {
    display: flex;
    justify-content: space-between;
    height: 30%;
    .women-text,
    .men-text {
      width: 40%;
      margin: auto;
      line-height: 1.5;

      button {
        border: 1px solid #a22c29;
        background-color: inherit;
        padding: 0.9rem 2rem;
        font-size: 0.9rem;
        cursor: pointer;
        &:hover {
          background-color: #a22c29;
          color: #fafafa;
          border: 1px solid #222;
          transition: 0.3s ease-out;
        }
      }
    }
    .women-image,
    .men-image {
      width: 50%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
