.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 7rem 1fr 3rem;
  height: 100vh;
}

header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-size: 1.2rem;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    font-weight: 600;
    border-bottom: 1px solid #000;
    width: -moz-available;
    text-align: center;
    padding: 1rem;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #000;
    width: -moz-available;
    padding: 1rem;

    ul {
      display: flex;
      justify-content: space-between;
      li {
        margin-right: 1rem;
        &:last-child {
          margin-right: 0rem;
        }

        a {
          &:hover {
            color: #a22c29;
          }
        }
      }
    }
  }
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  padding-left: 2rem;
  padding-right: 2rem;
  a {
    &:hover {
      color: #a22c29;
    }
  }
  .footer-top {
    display: flex;
    justify-content: space-around;
    border: 1px solid #000;
    padding: 2rem;

    .logo {
      font-size: 6rem;
      letter-spacing: 0.5rem;
      margin: auto 0rem;
    }

    ul {
      li {
        margin-bottom: 0.8rem;
      }
    }

    .shopping-category {
      margin-bottom: 5rem;
    }
  }

  .footer-bottom {
    text-align: center;

    a {
      color: #a22c29;
    }
  }
}
