// components and pages stylings
@import "./components/header/header.scss";
@import "./components/footer/footer.scss";
@import "./pages/homepage/homepage.scss";

//global stylings

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 7rem 1fr;
  height: 100vh;
}
