// components and pages stylings
@import "./scss/header.scss";
@import "./scss/footer.scss";

//global stylings

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 7rem 1fr;
  height: 100vh;
}

main {
  grid-area: main;
}
