.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 3rem 1fr 3rem;
  height: 100vh;
}

header {
  grid-area: header;
  background-color: #fefcfc;
  display: flex;
  justify-content: space-between;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
